/* elements */
body{
  background-color: #FEF7DC;
}

img{
  max-width: 100%;
   display: block;
   height: auto;
   margin: 0 auto;
}

/* classes */



/* id's */

#main{
  width: 95%;
  background-color: #E6DDC6;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

#title{
  text-align: center;
  padding-top: 3%;
}

#img-div{
  margin: auto;
  width: 95%;
  background-color: white;
  border-radius: 5px;
}

#img-caption{
padding-top: 8px;
padding-bottom: 8px;
}


#tribute-info{
  padding-top: 25px;
}


#tribute-info{
  /* background-color: red; */
  width: 40%;
  margin: auto;
}

#tribute-info h3{
  padding: 15px;
}

#tribute-info ul{
  text-align: left;
}

#tribute-info li{
  padding: 10px;
}
